@{
    ViewBag.Title = "Sản phẩm";
}


		<!-- ============================Start Phần sản phẩm ======================== -->
<section class="section-content bg-white padding-y">
	<div class="container">
		<div class="row">
			<!--Start phần ảnh sản phẩm-->
			<aside class="col-md-6">
				<div class="card">
					<article class="gallery-wrap">
						<!--Start phần ảnh to-->
						<div class="img-big-wrap">
							<div> <a href="#"><img class="bigImage img-fluid" src="~/images/items/15.jpg"></a></div>
						</div> 
						<!--End phần ảnh to-->


						<!--Start phần ảnh nhỏ-->
						<div class="thumbs-wrap">
							<a href="#" class="item-thumb"> <img  class="smallImage" src="~/images/items/15.jpg"></a>
							<a href="#" class="item-thumb"> <img  class="smallImage" src="~/images/items/15-1.jpg"></a>
							<a href="#" class="item-thumb"> <img  class="smallImage" src="~/images/items/15-2.jpg"></a>
							<a href="#" class="item-thumb"> <img  class="smallImage" src="~/images/items/15-1.jpg"></a>
						</div> 
						<!--End phần ảnh nhỏ-->

					</article> 
				</div> 
			</aside>
			<!--End phần ảnh sản phẩm-->
			<!--Start Phần thông tin sản phẩm-->
			<main class="col-md-6">
				<article class="product-info-aside">

					<h2 class="title mt-3">Tông lào </h2>

					<div class="rating-wrap my-3">
						<ul class="rating-stars">
							<li style="width:80%" class="stars-active">
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
							<li>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
						</ul>
						<small class="label-rating text-muted">132 Đánh giá</small>
						<small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 Đã bán </small>
					</div> 
					<!-- Start Giá sản phẩm-->
					<div class="mb-3">
						<var class="price h4">20 000 000</var>
						<small>đ</small>
						<del class="price-old">35 000 000</del>
						<small class="text-muted">đ</small>
					</div> 
					<!-- End Giá sản phẩm-->

					<!--Start chọn màu-->
                    <div class="d-flex justify-content-start align-items-center my-3">
						<label>Màu:</label>
						<select class="input-select form-control w-25 ml-2">
							<option value="0">Đỏ</option>
							<option value="0">Vàng</option>
							<option value="0">Cam</option>
						</select>
					</div>
					<!--End chọn màu-->


					<div class="form-row  mt-4">
						<!--Thanh thêm bớt sản phẩm-->
						<div class="form-group col-md flex-grow-0">
							<div class="input-group mb-3 input-spinner">
								<div class="input-group-prepend">
									<button class="btn btn-light" type="button" id="button-plus"> + </button>
								</div>
								<input type="text" class="form-control" value="1">
								<div class="input-group-append">
									<button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
								</div>
							</div>
						</div> 
						<!--2 nút -->
						<div class="form-group col-md">
							<a href="/Product/Cart" class="btn  btn-primary" >
								<i class="fas fa-shopping-cart"></i> <span class="text">Thêm vào giỏ hàng</span>
							</a>
							<a href="#" class="btn btn-light" >
								<i class="fa fa-heart"></i> <span class="text">Xem giỏ hàng</span>
							</a>
							
						</div> 
					</div> 

				</article> 
			</main> 
			<!--End Phần thông tin sản phẩm-->
		</div> 
	</div> 
</section>
		<!-- ================ End Phần sản phẩm ================= -->


<!-- ========================= Start Phần mô tả và Thông số kỹ thuật và sản phẩm liên quan  ========================= -->
<section class="section-name padding-y bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!--start phần mô tả-->
				<h5 class="title-description">Mô tả

				</h5>
				<p>
					Lava stone grill, suitable for natural gas, with cast-iron cooking grid, piezo ignition, stainless steel burners, water tank, and thermocouple. Thermostatic adjustable per zone. Comes complete with lava rocks. Adjustable legs. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<ul class="list-check">
					<li>Material: Stainless steel</li>
					<li>Weight: 82kg</li>
					<li>built-in drip tray</li>
					<li>Open base for pots and pans</li>
					<li>On request available in propane execution</li>
				</ul>
				<!--End  phần mô tả-->

				<!-- Start phần thông số kỹ thuật-->
				<h5 class="title-description">Thông số kỹ thuật</h5>
				<table class="table table-bordered">
					<tr> <th colspan="2">Basic specs</th> </tr>
					<tr> <td>Type of energy</td><td>Lava stone</td> </tr>
					<tr> <td>Number of zones</td><td>2</td> </tr>
					<tr> <td>Automatic connection	</td> <td> <i class="fa fa-check text-success"></i> Yes </td></tr>

					<tr> <th colspan="2">Dimensions</th> </tr>
					<tr> <td>Width</td><td>500mm</td> </tr>
					<tr> <td>Depth</td><td>400mm</td> </tr>
					<tr> <td>Height	</td><td>700mm</td> </tr>

					<tr> <th colspan="2">Materials</th> </tr>
					<tr> <td>Exterior</td><td>Stainless steel</td> </tr>
					<tr> <td>Interior</td><td>Iron</td> </tr>

					<tr> <th colspan="2">Connections</th> </tr>
					<tr> <td>Heating Type</td><td>Gas</td> </tr>
					<tr> <td>Connected load gas</td><td>15 Kw</td> </tr>

				</table>
				<!-- End phần thông số kỹ thuật-->
			</div> 
			

			<!--Start phần sản phẩm liên quan-->
			<aside class="col-md-4">

				<div class="box">

					
					<h5 class="title-description">Sản phẩm liên quan</h5>


					<article class="media mb-3">
						<a href="#"><img class="img-sm mr-3" src="~/images/posts/3.jpg"></a>
						<div class="media-body">
							<h6 class="mt-0"><a href="#">How to use this item</a></h6>
							<p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
						</div>
					</article>

					<article class="media mb-3">
						<a href="#"><img class="img-sm mr-3" src="~/images/posts/2.jpg"></a>
						<div class="media-body">
							<h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
							<p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
						</div>
					</article>

					<article class="media mb-3">
						<a href="#"><img class="img-sm mr-3" src="~/images/posts/1.jpg"></a>
						<div class="media-body">
							<h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
							<p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
						</div>
					</article>

					<article class="media mb-3">
						<a href="#"><img class="img-sm mr-3" src="~/images/posts/2.jpg"></a>
						<div class="media-body">
							<h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
							<p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
						</div>
					</article>

					<article class="media mb-3">
						<a href="#"><img class="img-sm mr-3" src="~/images/posts/1.jpg"></a>
						<div class="media-body">
							<h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
							<p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
						</div>
					</article>
					<article class="media mb-3">
						<a href="#"><img class="img-sm mr-3" src="~/images/posts/2.jpg"></a>
						<div class="media-body">
							<h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
							<p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
						</div>
					</article>

					<article class="media mb-3">
						<a href="#"><img class="img-sm mr-3" src="~/images/posts/1.jpg"></a>
						<div class="media-body">
							<h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
							<p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
						</div>
					</article>
					


				</div> 
			</aside> 
			<!--End phần sản phẩm liên quan-->

		</div> 

	</div> 
</section>
<!-- ========================= End Phần mô tả và sản phẩm liên quan ========================= -->


<!--Phần đánh giá-->
<div class="row d-flex justify-content-start align-items-center">
    <h4 >Đánh giá sản phẩm</h4>
	<div class="col-lg-12  mb-2">
		<button class="ml-1 mb-1" onclick="showComments('comments-all')"> Tất cả </button>
		<button class="ml-1 mb-1" onclick="showComments('comments-5')"> 5 Sao (5) </button>
		<button class="ml-1 mb-1" onclick="showComments('comments-4')"> 4 Sao (0) </button>
		<button class="ml-1 mb-1" onclick="showComments('comments-3')"> 3 Sao (1) </button>
		<button class="ml-1 mb-1" onclick="showComments('comments-2')"> 2 Sao (2) </button>
		<button class="ml-1 mb-1" onclick="showComments('comments-1')"> 1 Sao (0) </button>
	</div>
    <div class="divide"></div>

	<div class="col-lg-12" id="comments-container">
		<div class="comments comments-all">
			<div class="row p-4">
				<div class="col-lg-1   ">
					<img class="rounded-circle img-sm border" src="~/images/avatars/avatar1.jpg" alt="" />
				</div>
				<div class="col-lg-11">
					<h5> lê hội hà</h5>
					<div>
						<span>12-3-2023 17:14 </span>
						<span>|</span>
						<span>Phân loại hàng: IPhone 14 Pro Max</span>
					</div>
					<p> Điện thoại rất chi là xịn, âm thanh sống động mượt mà nghe bass mượt như sóng lượn </p>
				</div>

			</div>
			<div class="row p-4 ">
				<div class="col-lg-1  ">
					<img class="rounded-circle img-sm border" src="~/images/avatars/avatar3.jpg" alt="" />
				</div>
				<div class="col-lg-11">
					<h5> lê phan bình chim</h5>
					<div>
						<span>12-3-2023 17:14 </span>
						<span>|</span>
						<span>Phân loại hàng: Tai nghe</span>
					</div>
					<p> pin dùng lâu, âm thanh mượt mà</p>
				</div>

			</div>
			<div class="row p-4">
				<div class="col-lg-1    ">
					<img class="rounded-circle img-sm border" src="~/images/avatars/avatar2.jpg" alt="" />
				</div>
				<div class="col-lg-11">
					<h5> Nguyễn thị đào</h5>
					<div>
						<span>12-3-2023 17:14 </span>
						<span>|</span>
						<span>Phân loại hàng: Tai nghe</span>
					</div>
					<p> pin dùng lâu, âm thanh mượt mà</p>
				</div>

			</div>
		</div>
		<div class="comments comments-5">
			<div class="row p-4 ">
				<div class="col-lg-1  ">
					<img class="rounded-circle img-sm border" src="~/images/avatars/avatar3.jpg" alt="" />
				</div>
				<div class="col-lg-11">
					<h5> lê phan bình chim</h5>
					<div>
						<span>12-3-2023 17:14 </span>
						<span>|</span>
						<span>Phân loại hàng: Tai nghe</span>
					</div>
					<p> pin dùng lâu, âm thanh mượt mà</p>
				</div>

			</div>
			<div class="row p-4">
				<div class="col-lg-1    ">
					<img class="rounded-circle img-sm border" src="~/images/avatars/avatar2.jpg" alt="" />
				</div>
				<div class="col-lg-11">
					<h5> Nguyễn thị đào</h5>
					<div>
						<span>12-3-2023 17:14 </span>
						<span>|</span>
						<span>Phân loại hàng: Tai nghe</span>
					</div>
					<p> pin dùng lâu, âm thanh mượt mà</p>
				</div>

			</div>
		</div>
		
	</div>
	<div class="divide"></div>

	<div class="col-lg-12 mt-4 mb-4  d-flex justify-content-center align-items-center">
        <div class="row">
			<button class="m-3"> < </button>
			<button class="m-3"> 1 </button>
			<button class="m-3"> 2 </button>
			<button class="m-3"> 3 </button>
			<button class="m-3"> 4 </button>
			<button class="m-3"> 5 </button>
			<button class="m-3"> > </button>
		</div>
	</div>
</div>

