@{
    ViewData["Title"] = "Quyền truy cập bị từ chối";
}

<div class="container mt-n50">
    <div class="row justify-content-center align-items-center h-100vh">
        <div class="col-12">
            <!-- Start: error page -->
            <div class="content-center">
                <div class="error-page text-center">
                    <img src="/svg/403.svg" alt="404" class="svg">
                    <h5 class="fw-500">Xin lỗi, bạn không có quyền truy cập trang này</h5>
                    <div class="content-center mt-30 mb-5">
                        <a href="/" class="btn rounded-pill btn-primary btn-default btn-squared px-30">
                            Quay về trang
                            chủ
                        </a>
                    </div>
                </div>
            </div>
            <!-- End: error page -->
        </div>
    </div>
</div>
