@{
    ViewBag.Title = " Blog chi tiết";
}

<h1 class="mt-3">Trao giải cuộc thi 'Vượt qua dịch COVID-19 - Đồng lòng chống dịch' </h1>
<div class="author d-flex  align-items-center mb-3">
    <img class="rounded-circle img-sm border" src="~/images/avatars/avatar2.jpg" alt="" />
    <p>Thu hiền</p>
</div>
<div class="divide"></div>
<h5 class="mt-3 mb-3">
    TTO - 21 giải thưởng của cuộc thi "Vượt qua dịch COVID-19 - Đồng lòng chống dịch" do báo Thanh Niên tổ chức đã được trao trong chiều 26-11 tại quận 3, TP.HCM.
</h5>
<div class="d-flex flex-column justify-content-center align-items-center">
    <img class="img-fluid" src="~/images/posts/tin2-1.png" alt="" />
    <p class="text-black-50">
        Nhà báo Nguyễn Ngọc Toàn - tổng biên tập báo Thanh Niên - phát biểu tại buổi lễ tổng kết và trao giải - Ảnh: THU HIẾN
    </p>

</div>

<div>
    <p>
        Bắt đầu từ tháng 3 đến tháng 11-2021, cuộc thi "Vượt qua dịch COVID-19 -
        Đồng lòng chống dịch" thu hút hơn 1.000 bài viết của bạn đọc trong và ngoài nước. Cuộc thi được chia làm 2 giai đoạn, giai đoạn 1 từ
        ngày 8-3 đến ngày 26-7-2021 với 12 giải, giai đoạn 2 từ ngày 26-7 đến ngày 5-11 với 9 giải.
        <br />
        <br />
        Trong hơn 1.000 bài viết dự thi của bạn đọc trong và ngoài nước đã có tổng cộng 243 tin bài, là chuyện kể, ghi chép người thật việc thật về sự đồng lòng, chung sức, đồng hành, những ý thức, kinh nghiệm, cảm xúc… cùng nhau vượt qua dịch COVID-19 được đăng báo.
        <br />
        <br />
        Có những giải pháp bạn đọc đề xuất qua cuộc thi, sau đó được các cấp chính quyền áp dụng thực tế, như: cách ly F0 không triệu chứng, F1 tại nhà…

        <br />
        <br />
        Ban tổ chức cuộc thi đã quyết định trao 19 giải chính thức, 2 giải bài viết được bạn đọc yêu thích nhất. Bên cạnh đó, ban tổ chức vinh danh 4 tác giả, nhóm tác giả có nhiều tác phẩm dự thi chất lượng cao. Tổng giá trị giải thưởng cuộc thi là 191 triệu đồng.

        Phát biểu tại buổi lễ tổng kết và trao giải, nhà báo Nguyễn Ngọc Toàn - tổng biên tập báo Thanh Niên - cho biết đầu tháng 3-2020 đại dịch COVID-19 hoành hành gây ra nhiều xáo trộn đời sống, sinh hoạt của người dân, thiệt hại lớn về kinh tế.

        Với những giải pháp quyết liệt của Chính phủ, sự đồng lòng của toàn dân, nước ta đã đạt được hiệu quả tích cực trong công tác phòng chống dịch COVID-19, qua đó thực hiện mục tiêu kép vừa chống dịch hiệu quả vừa duy trì sự phát triển kinh tế…

        Để cổ vũ, đồng hành cùng Chính phủ, các cấp chính quyền, cộng đồng doanh nghiệp… góp phần hoàn thành mục tiêu kép, báo Thanh Niên đã tổ chức cuộc thi "Vượt qua dịch COVID-19 - Đồng lòng chống dịch" với mong muốn cổ vũ tinh thần đoàn kết, tương thân tương ái, nỗ lực vượt qua khó khăn thử thách, vun đắp truyền thống để cùng nhau vượt qua thời điểm khó khăn của dịch COVID-19.
    </p>
</div>

<div class="divide"></div>
<!-- Form Bình Luận -->
<form class="mt-3 mb-4">
    <div class="form-group">
        <label for="comment">Bình Luận:</label>
        <textarea class="form-control" id="comment" rows="3" placeholder="Nhập bình luận của bạn"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Gửi Bình Luận</button>
</form>
<!-- End Form Bình Luận -->