﻿@{
    ViewBag.Title = "Blog";
}

<div id="main-content" class="blog-page mt-4">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">

                @await Component.InvokeAsync("Blog")


                <ul class="pagination pagination-primary">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div class="body search">
                        <div class="input-group m-b-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Categories Clouds</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            <li><a href="javascript:void(0);">Apple</a></li>
                            <li><a href="javascript:void(0);">Samsung</a></li>
                            <li><a href="javascript:void(0);">Xiaomi</a></li>
                            <li><a href="javascript:void(0);">Huawei</a></li>
                            <li><a href="javascript:void(0);">Oppo</a></li>
                            <li><a href="javascript:void(0);">Vivo</a></li>
                            <li><a href="javascript:void(0);">Realme</a></li>
                            <li><a href="javascript:void(0);">Sony</a></li>
                            <li><a href="javascript:void(0);">HTC</a></li>
                            <li><a href="javascript:void(0);">Lenovo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>