<section class="review" id="thanhvien">

    <h1 class="heading"> Giới thiệu <span> thành viên </span> </h1>

    <div class="swiper review-slider">

        <div class="row swiper-wrapper">
            <div class="col-lg-6 col-md-4 col-sm-12 mb-5">
                <div class=" swiper-slide box">
                    <img src="~/images/posts/2.jpg" alt="">
                    <p>Kết nối cuộc sống, mang công nghệ đến mọi nhà</p>
                    <h3>Lê Hội Hà</h3>
                   
                </div>
            </div>

            <div class="col-lg-6 col-md-4 col-sm-12 mb-5">
                <div class=" swiper-slide box">
                    <img src="~/images/posts/3.jpg" alt="">
                    <p>Giải pháp công nghệ thông minh, tạo nên cuộc sống tiện ích và hiện đại.</p>
                    <h3>Lê Văn Chung</h3>                    
                </div>
            </div>







        </div>

    </div>

</section>