@model DoAn_PTUDWEB.Models.TbTrademark

<main>
    <div class="head-title">
        <div class="left">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Xóa thương hiệu</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">Xác nhận xóa thương hiệu</h2>
                    </div>
                    <div class="card-body overflow-auto" style="max-height: 400px;">
                        <form asp-action="Delete" method="post">
                            <fieldset>
                                <legend>Thông tin thương hiệu</legend>

                                <div class="form-group">
                                    <label asp-for="TrademarkId">ID Thương hiệu</label>
                                    <input type="text" class="form-control mb-3" asp-for="TrademarkId" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Name">Tên</label>
                                    <input type="text" class="form-control mb-3" asp-for="Name" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description">Mô tả</label>
                                    <input type="text" class="form-control mb-3" asp-for="Description" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Logo">Logo</label>
                                    <input type="text" class="form-control mb-3" asp-for="Logo" readonly />
                                </div>
                            </fieldset>

                            <div class="form-group">
                                <a class="btn btn-warning" href="javascript:history.back()">
                                    <i class="bi bi-arrow-left-circle"></i> Quay lại
                                </a>
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i> Xóa thương hiệu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
