@using DoAn_PTUDWEB.Utilities;
@model DoAn_PTUDWEB.Models.TbPost

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="">Thêm bài viết</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Create" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Mô tả:</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Detail" class="control-label">Chi tiết:</label>
                            <input asp-for="Detail" class="form-control" />
                            <span asp-validation-for="Detail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Image" class="control-label">Ảnh:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-success" type="button" onclick="openDialog()">Chọn ảnh</button>
                                </div>
                                <input type="text" class="form-control" asp-for="Image" id="file_input" aria-describedby="button-addon2" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="SeoTitle" class="control-label">Tiêu đề Seo:</label>
                            <input asp-for="SeoTitle" class="form-control" />
                            <span asp-validation-for="SeoTitle" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SeoDescription" class="control-label">Mô tả Seo::</label>
                            <input asp-for="SeoDescription" class="form-control" />
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SeoKeywords" class="control-label">Từ khóa Seo::</label>
                            <input asp-for="SeoKeywords" class="form-control" />
                            <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="CreatedDate" class="control-label">Ngày tạo:</label>
                            <input asp-for="CreatedDate" class="form-control" value="@Functions.getCurrentDate()" />
                        </div>

                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label">Được tạo bởi:</label>
                            <input asp-for="CreatedBy" class="form-control" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ModifiedDate" class="control-label">Ngày sửa:</label>
                            <input asp-for="ModifiedDate" class="form-control" value="@Functions.getCurrentDate()" />                    
                        </div>

                        <div class="form-group">
                            <label asp-for="ModifiedBy" class="control-label">Được sửa bởi:</label>
                            <input asp-for="ModifiedBy" class="form-control" />
                            <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Hiển thị:</label>
                            <label>
                                @Html.CheckBox("IsActive",false)
                            </label>
                        </div>

                        <div class="form-group d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@{
    var summerNote = new DoAn_PTUDWEB.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}