@model DoAn_PTUDWEB.Models.TbPost

@{
    ViewData["Title"] = "Edit";
}

<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">chỉnh sửa chi tiết</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="card">
        <h5 class="card-header">Chỉnh sửa bài viết</h5>
        
        <div class="card-body">
            
            <form asp-action="Edit" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BlogId" />

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Name" class="form-label">Tên</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Description" class="form-label">Mô tả</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Detail" class="form-label">Chi tiết</label>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Detail" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Image" class="form-label">Ảnh</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" onclick="openDialog()">Chọn ảnh</button>
                        </div>
                        <input type="text" class="form-control" asp-for="Image" id="file_input" aria-describedby="button-addon2" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="SeoTitle" class="form-label">Seo Title</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="SeoTitle" class="form-control" />
                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="SeoDescription" class="form-label">Seo Description</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="SeoDescription" class="form-control" />
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="SeoKeywords" class="form-label">Seo Keywords</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="SeoKeywords" class="form-control" />
                        <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="CreatedDate" class="form-label">Ngày tạo</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="CreatedDate" class="form-control" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="CreatedBy" class="form-label">Người tạo</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="CreatedBy" class="form-control" />
                        <span asp-validation-for="CreatedBy" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="ModifiedDate" class="form-label">Ngày chỉnh sửa</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="ModifiedDate" class="form-control" />
                        <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="ModifiedBy" class="form-label">Người chỉnh sửa</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="ModifiedBy" class="form-control" />
                        <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="IsActive" class="form-label">Hiển thị</label>
                    </div>
                    <div class="col-md-9">
                        <label>
                            @Html.CheckBox("IsActive",false)
                            Hiển thị
                        </label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@{
    var summerNote = new DoAn_PTUDWEB.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}
