@{
    ViewBag.Title = "Nhập thông tin đơn hàng";
}

<div class="container">
    <form action="/Cart/handlecart" method="post" id="formDemo">
        <h5 class="text-center mt-4">Thông tin khách hàng</h5>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="p-lg-5 border w-50 mb-3 rounded" style="background-color:#ffffff">
                <div class="mb-3">
                    <label class="form-label">Tên khách hàng</label>
                    <input class="form-control" value="@ViewBag.Users.FullName" readonly />
                    <input type="hidden" value="@ViewBag.Users.UserId" name="userId" />
                </div>
                <div class="mb-3">
                    <input type="hidden" class="form-control" name="orderDate" value="@DateTime.Now">
                </div>
                <div class="mb-3">
                    <select id="provinceSelect" name="provinceSelect" class="form-select form-select-lg mb-3">
                        <option value="" selected>Vui lòng chọn Tỉnh/Thành Phố</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select id="districtSelect" name="districtSelect" class="form-select form-select-lg mb-3">
                        <option value="" selected>Vui lòng Chọn Quận/Huyện</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select id="wardSelect" name="wardSelect" class="form-select form-select-lg mb-3">
                        <option value="" selected>Vui lòng chọn Phường/Xã</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input id="diachicuthe" name="diachicuthe" value="" class="form-control" placeholder="Địa chỉ cụ thể" />
                </div>
                <input id="shipAddress" type="hidden" class="form-control" name="shipAddress">
                <div class="mb-3">
                    <input type="hidden" class="form-control" name="status" value="1">
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Ghi chú</label>
                    <textarea class="form-control" name="note"></textarea>
                </div>
                <div>
                    <input name="payment" type="submit" value="Đặt hàng(COD)" />
                    <input name="payment" type="submit" value="Thanh toán VNPay" />
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    $.validator.setDefaults({
        ignore: []
    });

    $("#formDemo").validate({
        onfocusout: false,
        onkeyup: false,
        rules: {
            provinceSelect: {
                required: true
            },
            districtSelect: {
                required: true
            },
            wardSelect: {
                required: true
            },
            diachicuthe: {
                required: true
            }
        },
        messages: {
            provinceSelect: "Vui lòng chọn Tỉnh/Thành Phố!",
            districtSelect: "Vui lòng chọn Quận/Huyện!",
            wardSelect: "Vui lòng chọn Phường/Xã!",
            diachicuthe: "Vui lòng nhập địa chỉ cụ thể!"
        },
        errorClass: "form-error",
        errorElement: "div",
        errorPlacement: function (error, element) {
            if (element[0].nodeName.toLowerCase() === "select") {
                element.addClass("invalid");
                error.insertAfter(element).slideDown(400).fadeIn("slow");
            } else {
                element.addClass("invalid");
                error.insertAfter(element).slideDown(400).fadeIn("slow");
            }
        },
        hideThese: function (errors) {
            errors.not(this.containers).animate({ height: 0, opacity: 0 }, function () {
                $(this).removeClass("invalid");
                $(this).text("").removeAttr("style");
            });
        }
    });

    // Remove error message when a valid option is selected
    $("#provinceSelect, #districtSelect, #wardSelect").on("change", function () {
        if ($(this).val() !== "") {
            $(this).removeClass("invalid");
            $(this).next('.form-error').remove();
        }
    });
    // Remove error message for diachicuthe when input is not empty
    $("#diachicuthe").on("input", function () {
        if ($(this).val() !== "") {
            $(this).removeClass("invalid");
            $(this).next('.form-error').remove();
        }
    });


</script>

