@model DoAn_PTUDWEB.Models.TbProduct

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3">Thêm mới sản phẩm</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Create" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="CategoryProductId" class="control-label">Mặt hàng</label>
                            <select asp-for="CategoryProductId" class="form-control" asp-items='(SelectList)ViewData["CategoryItems"]' required>
                                <option value="">--Chọn loại mặt hàng--</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                            <input asp-for="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check">
                            <input class="form-check-input" asp-for="IsBestSeller" />
                            <label class="form-check-label" for="IsBestSeller">@Html.DisplayNameFor(model => model.IsBestSeller)</label>
                        </div>

                        <div class="form-group form-check">
                            <input class="form-check-input" asp-for="IsHot" />
                            <label class="form-check-label" for="IsHot">@Html.DisplayNameFor(model => model.IsHot)</label>
                        </div>

                        <div class="form-group form-check">
                            <input class="form-check-input" asp-for="IsNew" />
                            <label class="form-check-label" for="IsNew">@Html.DisplayNameFor(model => model.IsNew)</label>
                        </div>

                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Giá</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PriceDiscount" class="control-label">Giảm giá</label>
                            <input asp-for="PriceDiscount" class="form-control" />
                            <span asp-validation-for="PriceDiscount" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label">Số lượng</label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Thumbnail" class="control-label">Ảnh</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-success" type="button" onclick="openDialog()">Chọn ảnh</button>
                                </div>
                                <input type="text" class="form-control" asp-for="Thumbnail" id="file_input" aria-describedby="button-addon2" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="TrademarkId" class="control-label">Thương hiệu</label>
                            <select asp-for="TrademarkId" class="form-control" asp-items='(SelectList)ViewData["TrademarkItems"]' required>
                                <option value="">--Chọn thương hiệu--</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Mô tả</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-5 mb-5">                   
                            <label>
                                @Html.CheckBox("IsActive",true)
                            </label>
                            <label class="control-label">  Hiển thị</label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@{
    var summerNote = new DoAn_PTUDWEB.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}
