@model DoAn_PTUDWEB.Models.TbProduct

<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Xóa sản phẩm</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">Xác nhận xóa sản phẩm</h2>
                    </div>
                    <div class="card-body overflow-auto" style="max-height: 400px;">
                        <form asp-action="Delete" method="post">
                            <fieldset>
                                <legend>Thông tin sản phẩm</legend>

                                <div class="form-group">
                                    <label asp-for="ProductId" class="control-label">ID Sản phẩm</label>
                                    <input type="text" class="form-control mb-3" asp-for="ProductId" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="CategoryProductId" class="control-label">Loại mặt hàng</label>
                                    <input type="text" class="form-control mb-3" asp-for="CategoryProductId" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                                    <input type="text" class="form-control mb-3" asp-for="Name" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="IsBestSeller" class="control-label">Bán chạy</label>
                                    <input type="text" class="form-control mb-3" asp-for="IsBestSeller" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="IsHot" class="control-label">Hot</label>
                                    <input type="text" class="form-control mb-3" asp-for="IsHot" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="IsNew" class="control-label">Mới về</label>
                                    <input type="text" class="form-control mb-3" asp-for="IsNew" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Price" class="control-label">Giá</label>
                                    <input type="text" class="form-control mb-3" asp-for="Price" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="PriceDiscount" class="control-label">Giảm giá</label>
                                    <input type="text" class="form-control mb-3" asp-for="PriceDiscount" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Quantity" class="control-label">Số lượng</label>
                                    <input type="text" class="form-control mb-3" asp-for="Quantity" readonly />
                                </div>

                                <div class="form-group col-md-12">
                                    <label asp-for="Thumbnail" class="control-label">Ảnh</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-success" type="button" onclick="openDialog()">Chọn ảnh</button>
                                        </div>
                                        <input type="text" class="form-control" asp-for="Thumbnail" id="file_input" aria-describedby="button-addon2" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="TrademarkId" class="control-label">Thương hiệu</label>
                                    <input type="text" class="form-control mb-3" asp-for="TrademarkId" readonly />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Mô tả</label>
                                    <input type="text" class="form-control mb-3" asp-for="Description" readonly />
                                </div>

                                <div class="form-group mt-5 mb-5">
                                    <label asp-for="IsActive" class="control-label" >Hiển thị</label>
                                    <input type="text" class="form-control mb-3" asp-for="IsActive" readonly />
                                </div>
                            </fieldset>

                            <div class="form-group">
                                <a class="btn btn-warning" href="javascript:history.back()">
                                    <i class="bi bi-arrow-left-circle"></i> Quay lại
                                </a>
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i> Xóa sản phẩm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
