@model DoAn_PTUDWEB.Models.TbProduct

@{
    ViewData["Title"] = "Edit";
}

<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">Chỉnh sửa sản phẩm</a>
            </li>
        </ul>
    </div>
</div>

<div class="container ">
    <div class="card">
        <h5 class="card-header">Thông tin sản phẩm</h5>

        <div class="card-body">
            <form asp-area="Admin" asp-controller="Product" asp-action="Edit" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId" />

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Loại mặt hàng</label>
                    <div class="col-md-9">
                        <select asp-for="CategoryProductId" class="form-control" asp-items="@ViewBag.CategoryProductId"></select>
                        <span class="text-danger" asp-validation-for="CategoryProductId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Tên sản phẩm</label>
                    <div class="col-md-9">
                        <input asp-for="Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-check-label">IsBestSeller</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-check">
                            <input asp-for="IsBestSeller" class="form-check-input" />
                            <label class="form-check-label">IsBestSeller</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-check-label">IsHot</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-check">
                            <input asp-for="IsHot" class="form-check-input" />
                            <label class="form-check-label">IsHot</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-check-label">IsNew</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-check">
                            <input asp-for="IsNew" class="form-check-input" />
                            <label class="form-check-label">IsNew</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Giá</label>
                    <div class="col-md-9">
                        <input asp-for="Price" class="form-control" />
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Giảm giá</label>
                    <div class="col-md-9">
                        <input asp-for="PriceDiscount" class="form-control" />
                        <span class="text-danger" asp-validation-for="PriceDiscount"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Số lượng</label>
                    <div class="col-md-9">
                        <input asp-for="Quantity" class="form-control" />
                        <span class="text-danger" asp-validation-for="Quantity"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Ảnh</label>
                    <div class="col-md-9">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" type="button" onclick="openDialog()">Chọn ảnh</button>
                            </div>
                            <input type="text" class="form-control" asp-for="Thumbnail" id="file_input" aria-describedby="button-addon2" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Thương hiệu</label>
                    <div class="col-md-9">
                        <select asp-for="TrademarkId" class="form-control" asp-items="@ViewBag.TrademarkId"></select>
                        <span class="text-danger" asp-validation-for="TrademarkId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Mô tả</label>
                    <div class="col-md-9">
                        <input asp-for="Description" class="form-control" />
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>

                <div class="form-group row mt-5 mb-5">
                    <div class="col-md-3">
                        <label class="form-check-label">Hiển thị</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-check">
                            @Html.CheckBox("IsActive",false)
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

   
</div>

@{
    var summerNote = new DoAn_PTUDWEB.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}