@model IList<TbProductCategory>


<aside class="col-lg col-md-3 flex-lg-grow-0">
	<h6>Mặt hàng</h6>
	<nav class="nav-home-aside">
		<ul class="menu-category">
			@foreach (var item in Model)
			{
				<li><a asp-controller="Product" asp-action="ProductsByCat" asp-route-CategoryId="@item.CategoryProductId">@item.Name</a></li>
			}


		</ul>
	</nav>
</aside> 