@model DoAn_PTUDWEB.Models.TbUser

@{
    ViewData["Title"] = "Create";
}
<div class="head-title">
    <div class="left">
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">Thêm mới người dùng</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="card">
        <h5 class="card-header">Nhập thông tin người dùng</h5>

        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="UserName" class="form-label">Tên người dùng</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="FullName" class="form-label">Họ và tên</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="PasswordHash" class="form-label">Mật khẩu</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="PasswordHash" class="form-control" />
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Phone" class="form-label">Số điện thoại</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Address" class="form-label">Địa chỉ</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Email" class="form-label">Email</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Status" class="form-label">Trạng thái</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="CreatedDate" class="form-label">Ngày tạo</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="CreatedDate" class="form-control" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="ModifiedDate" class="form-label">Ngày chỉnh sửa</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="ModifiedDate" class="form-control" />
                        <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                    </div>
                </div>

              

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="RoleId" class="form-label">Vai trò</label>
                    </div>
                    <div class="col-md-9">
                        <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                         <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
